.container-slide{
    background: #ccc;
    color:#000;
    height: 220px;
    text-align: center;
    font-size: 20px;
}
.container-info{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    .card-title{
        height: 140px;
        background: rgb(238, 226, 226);
        margin-right: 10px;
       flex: 1;
       &.tipes{
           height: 300px;
       }
       &.right{
        margin-right: 0px;
       }
    }
}