.card-title{
    cursor: pointer;
    box-shadow:3px 3px 4px #ccc;
    border-radius: 8px;
    height: 140px;
    color:#fff;
    background: rgb(238, 226, 226);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex: 1;
   .card-l{
     flex: 1; 
   .card-ico{
       font-size: 80px;
     }
   }
   .card-r{
    text-align: left;
    padding-right: 10px;
    flex: 1; 
    .card-i-title{
        color:#fff;
    }
   }
   &.tipes{
       height: 300px;
       color:#666;
       background: #fff;
   }
   &.mg-rg-10{
    margin-right: 0px;
   }
   .comm-ioc{
     font-size: 50px;
     &.green{
       color:green;
     }
   }
}