.header-top{
    display: flex;
    justify-content: center;
    align-items: center;
    :global{
      .ant-menu-dark{
        background: transparent;
      }
      .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background: #bd3c44;
        font-size: 16px;
        .ant-menu-dark .ant-menu-item > a{
          color:raba(255,255,255,0.6);
        }
      }
    }
  }
.head-route{
    flex:2;
    text-align: left;
    display: flex;
    height: 64px;
    align-items: flex-end;
}
.logo {
    flex: 1;
    color:#fff;
    text-align: left;
    font-size: 20px;
  }
  .user-info{
    flex:1;
    color:#fff;
    text-align: left;
    font-size: 18px;
  }