
  .ant-menu.ant-menu-dark .ant-menu-item-selected{
    background-color: #c7000a;
    border: 3px solid;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-top: 20px;
    border-color: #c7000a;
    font-weight: bold;
  }
  .layout-head{
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: #24222d;
    top:0;
  }
  .my-remind{
    height: calc(32vh);
    margin-top: 24px;
    border-bottom: 1px solid #ccc;
  }
  .content-root{
    padding: 24;
  }
  .content{
    padding: 30px 30px 10px 30px;
    margin-top: calc(2vh);
    position: absolute;
    bottom: 100px;
    width: 100%;
    top: 38px;
    overflow: auto;
  }
  .content-right{
    text-align: left;
    width:20%;
    background:#e7eafa;margin-left:24px;
    padding:0px 16px 0;
    color:#000;
    font-weight: 600;
    font-size: 16px;
  }
  
  .content-left{
    width:80%;
    margin-top:24px;
  }
  .ant-layout-footer {
    padding: 24px 50px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    background: #f0f2f5;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  