.logo {
    width: 220px;
    height: 31px;
    line-height: 38px;
    float: left;
    color: white;
    background-color: #001529;
    margin-top: 20px;
    font-weight: bold;
    font-size: large;
  }
  .ant-menu.ant-menu-dark .ant-menu-item-selected{
    background-color: #c7000a;
    border: 3px solid;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-top: 20px;
    border-color: #c7000a;
    font-weight: bold;
  }
  .layout-head{
    position: fixed;
    width: 100%;
    z-index: 9999;
    top:0;
  }